 {% extends "layout.html" %} {% block content %}

<ul class="nav nav-pills">
    <li role="presentation" class="active">
        <a href="/admin/category">分类首页</a>
    </li>
    <li role="presentation">
        <a href="#">分类列表</a>
    </li>
</ul>
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>分类名称</th>
        <th>分类管理</th>
        <th></th>
    </tr>
    {% for category in categorys %}
    <tr>
        <th>{{ category._id.toString() }}</th>
        <th>{{ category.name }}</th>
        <th>
            <a href="/admin/category/edit?id={{ category._id.toString() }}">修改</a>
            <a href="/admin/category/delete?id={{ category._id.toString() }}">删除</a>
        </th>
        <th>{{ cateMessage }}</th>
    </tr>
    {% endfor %}
</table>

{% include "page.html" %} {% endblock %}