

section{
    width:100%;
    background:#eee;
}
section::after{
    display:block;
    content:"";
    clear:both;
}
.main{
    width:80%;
    margin:0 10%;
    padding-top:50px;
}

/* 左侧导航边栏 */
.sider{
    width:198px;
    height:318px;
    background:#ED5565;
    border:1px solid #ddd;
    border-right:none;
    box-shadow:0 20px 20px -10px rgba(0, 0, 0, .2);
}
.sider li{
    height:50px;
    line-height:50px;
    border-left:3px solid transparent;
    cursor: pointer; 
}

.sider .active{
    background:#eee;
    border-left:3px solid #18c7e1;
}
.sider .active a{
    color:#23b8ff;
}
.sider  a{
    display:block;
    text-indent: 15px;
    font-size:16px;
    color:#333;
}
.sider li:hover{border-left:3px solid #18c7e1;}

.demo{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin-left:199px;
}



/* 旋转木马 */

.carrousel{
    width:100%;
    height:500px;
    overflow: hidden;
    position: relative;
}

.carrous{
    width:100%;
    position: relative;
}
.carrous img{
    vertical-align: top;
    position: absolute; 
    transition:opacity 1s;
}
.carrous img:hover{
    transform: scale(1.1,1.1)
}

.carrous-fl,.carrous-fr{
    font-size:50px;
    cursor: pointer;
    display:none;
    position: absolute;
    top:100px;
    z-index: 20;
}
.carrous-fr{
    right: 0;
}
